body{
    font-family: 'Roboto', sans-serif;
}
header,
main,
footer {
    font-size: 10px;
	max-width: 640px;
	margin: 1rem auto;
    border-radius: 4px;
    padding: .7%;
    border: rgb(7, 7, 10);
    background-color:lightblue;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem

}
section {
    padding: 1rem;
    border-radius: 5px;
    background-color: White;
}