@media only screen and (min-width: 32rem) {
    
    body{
        width: 50%;
        margin: 0 auto;
        align-content: center;
    }

    header h1{
        font-size: 3rem;
        display: flex;
        
        margin: 0 auto;
        
    }

    nav button{
        display: none;
    }
    nav ul li a{
        font-size: 1.5rem;
        color: white;

    }

    nav ul#navigationLinks {
        display: flex;
        justify-content: end;
    }

    nav ul li a:hover{
        font-size: 2rem;
        color: red;
    }

    header img{
        width: 200px;
        margin-top: -1rem;
        margin-bottom: -1rem;
        box-shadow: 3px 5px 5px rgba(0,0,0,0.5);
        padding-left: 0;
        margin-left: 1rem;
    }
    
    main h2{
        font-size: 2.5rem;
        text-align: center;
        border-bottom: 1px solid rgba(0,0,0,0.5);
    }

    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;
    }

    main h2{
        grid-column: 1/-1;
    }

    .grid1{
        grid-column: 1;
        grid-row: 2/4;
    }
    .grid2{
        grid-column: 2;
        grid-row: 2/3;
    }

    .grid3{
        grid-column: 2;
        grid-row: 3/4;
    }

    .card h3{
        font-size: 2rem;
    }
    
    .card ul li{
        font-size: 1.5rem;
    }

    .card a{
        font-size: 1.5rem;
    }

    .card p{
        font-size: 1.5rem;
    }


    div.hero {
        width: 100%;
        margin-top: 1.5rem;
        position: relative;
    }

    .map iframe{
        width: 600px;
        height: 400px;
    }


    /*Discover PAGE*/

    div.grid-discover{
        background-color: red;
    }

    
    form{
        font-size: 2rem;
    }

    table th{
        font-size: 35px;
    }




    /*Join Page */

    .grid-join{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .weather-container h4{
        font-size: 2rem;
    }
    
}